// styles.scss

@use "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}
p {
  color: variables.$primary-color;
  margin-bottom: 0;
}
.swal2-confirm {
  background-color: variables.$primary-color !important;
}
